@import "../../styles.scss";

.play-container{
    padding: 3em;
    border: 1px solid $secondary;
    margin-bottom: 1em;
    color: $secondary;
    span{
        background-color: $secondary;
        color: $primary;
        user-select: none;
        cursor: pointer;
        padding: 0.8em;
        border-radius: 10px;
        margin: 0.2em;
    }

    input{
            padding: 1em;
            margin-bottom: 2em;
    }
    &.count{
        background-color: slateblue;
        color: whitesmoke;
        border-color: whitesmoke;
    }
    &.highCount{
        background-color: rebeccapurple;
        color: whitesmoke;
        border-color: whitesmoke;
    }
    &.lowCount{
        color: purple;
    }
}